@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@900&display=swap");

$amarillo: #f9d99a;
$azul: #7cebffad;
$celeste: cornflowerblue;
$gris: #d6eaf8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER Y NAV*/

header {
  font-family: "Titillium Web", sans-serif;
  background-color: #7cebff69;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 100;
  position: relative;
  nav {
    &:hover {
      opacity: 1;
      visibility: visible;
    }
    .navbar-nav {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      align-items: center;
      .container-fluid :hover {
        opacity: 1;
        visibility: visible;
      }
      .titulo__logo {
        font-family: "Titillium Web", sans-serif;
      }
      a {
        color: black;
        font-size: 20px;
        text-decoration: none;
      }
      ul li a :hover {
        transition: all 0.3s;
      }
    }
  }
}

/* MAIN */

main {
  color: black;
  background-color: $gris;
  width: 100%;
  .titulo__principal {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin-left: 5px;
  }
  .titulo__secundario {
    font-family: "Roboto, saint seriff";
    font-weight: 450;
    color: black;
    margin-left: 5px;
    text-decoration: underline;
    font-size: xx-large;
  }
  p {
    letter-spacing: 0.1rem;
    word-spacing: 0.6rem;
    text-align: center;
    font-family: "Roboto, saint seriff";
    color: black;
    margin: 20px 20px;
  }
}
.propuesta {
  display: flex;
  justify-content: space-between;
  &__bsas {
    background-color: #fdbed9;
  }
  &__humahuaca {
    background-color: #f3aacb;
  }
  &__iguazu {
    background-color: #77dd77;
  }
  &__bariloche {
    background-color: #fdfd96;
  }
}
@each $propuestas in __bsas, __humahuaca, __iguazu, __bariloche {
  .propuesta#{$propuestas} {
    display: flex;
    padding: 10px;
    margin: 8px;
  }
}
/* HERO */

.hero {
  height: 75vh;
  background-image: url(../multimedia/hero.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn {
      background-color: $celeste;
      color: black;
      padding: 1rem 1.2rem;
      border: none;
      border-radius: 5px;
      font-size: 1.5rem;
    }
  }
  &__titulo {
    font-family: "Titillium Web", sans-serif;
    font-weight: 340;
    font-size: 3rem;
    color: #0d1f22ff;
  }
}
.complementoMain {
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  &__contenedor {
    flex-basis: 50%;
    padding: 40px;
    &__titulo {
      margin-bottom: 1rem;
      font-family: "Titillium Web", sans-serif;
      font-weight: 340;
      font-size: 2rem;
      color: #0d1f22ff;
    }
    &__video {
      width: 560px;
      height: 315px;
    }
  }
}

/* /*SECTIONS */

.excursion__contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  &__titulo {
    font-family: "Titillium Web", sans-serif;
    font-weight: 340;
    font-size: 3rem;
    color: #0d1f22ff;
  }
  &__text {
    color: black;
    margin-bottom: 1rem;
    font-family: "Roboto, saint seriff";
  }
  &__1 {
    background-color: $amarillo;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
  }
  img {
    width: 320px;
    height: 480px;
  }
  &__carrousel {
    background-color: $amarillo;
    display: flex;
    align-items: center;
  }
}
/*FOOTER*/
footer {
  font-size: 1rem;
  padding: 15px;
  background: linear-gradient(0deg, $amarillo 0%, $azul 55%);
  display: flex;
  justify-content: space-evenly;
  ul {
    list-style: none;
    li {
      padding: 5px;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          transition: all 0.3s;
        }
      }
    }
  }
  div img {
    width: 28px;
  }
}
@media (max-width: 660px) {
  main {
    letter-spacing: normal;
    font-size: small;
  }
  p {
    font-size: 19px;
  }
  .section1 {
    display: inline;
  }
  h2 {
    margin-top: 100px;
  }
  legend {
    font-size: large;
  }
  footer div a Img {
    height: 20px;
    width: 20px;
    display: flex;
  }
  iframe {
    width: auto;
    padding: 10px;
  }
  .excursion__contenedor__carrousel {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .propuesta {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .complementoMain__contenedor .complementoMain__contenedor__video {
    width: 100%;
  }
}
